@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

a {
    all: unset;
    cursor: pointer;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

body {
    background-color: #ffffff;
}

.header {
    max-width: 100%;
    height: 80px;
    background-color: #8FB4C9;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.main {
    padding-top: 75px;
}

.header-logo-text {
    color: #ffffff;
    font-size: 12px;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: "Open Sans", sans-serif;
}

.container {
    max-width: 1500px;
    margin: auto;
    padding: 20px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list {
    display: flex;
    gap: 30px;
}

.nav-link {
    font-family: "Rubik", sans-serif;
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
    transition: .20s;
}

.nav-link:hover {
    color: rgba(255, 255, 255, .7);
}

.phone-text {
    font-family: "Open Sans", sans-serif;
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
}

.start {
    padding: 25px;
}

.banner {
    border-radius: 20px;
    background-color: #8FB4C9;
    font-family: "Open Sans", sans-serif;
    display: flex;
    align-items: center;
    gap: 50px;
}

.banner-text-block {
    padding: 50px;
}

.banner-subtitle {
    color: rgba(255, 255, 255, 0.70);
    font-size: 23px;
    font-weight: 400;
}

.banner-title {
    color: #ffffff;
    font-size: 35px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    margin: 25px 0 25px;
    width: 400px;
}

.banner-button {
    border-radius: 20px;
    border: 2px solid #ffffff;
    color: #ffffff;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    padding: 20px;
    background-color: transparent;
}

.banner-img {
    height: 500px;
    width: 65%;
    object-fit: cover;
    border-radius: 0 20px 20px 0;
}

.benefits-blocks {
    display: flex;
    align-items: center;
    gap: 75px;
    justify-content: center;
    font-family: "Rubik", sans-serif;
}

.benefits-block {
    display: flex;
    align-items: center;
    gap: 15px;
}

.benefits-title {
    color: #8FB4C9;
    font-size: 15px;
    font-weight: 500;
    width: 200px;
}

.gallery {
    padding-top: 35px;
}

.gallery-title {
    color: #8FB4C9;
    text-align: center;
    font-size: 35px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    margin-bottom: 25px;
}

.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider {
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
}

.slide {
    flex: 0 0 auto;
    width: 100%;
    margin-right: 10px;
}

.slide img {
    width: 85%;
    display: block;
    margin: auto;
}

.prev,
.next {
    cursor: pointer;
}

.team {
    padding-top: 25px;
    font-family: "Open Sans", sans-serif;
}

.main-team-title {
    color: #8FB4C9;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.team-blocks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    grid-gap: 35px;
    margin-top: 50px;
}

.team-block {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 350px;
}

.team-title {
    color: #8FB4C9;
    font-size: 22px;
    font-weight: 700;
}

.team-desc {
    color: #8FB4C9;
    font-size: 18px;
    font-weight: 500;
    width: 160px;
    margin-top: 5px;
}

.team-img {
    width: 85px;
}

.location {
    padding-top: 35px;
}

.location-title {
    color: #8FB4C9;
    text-align: center;
    font-size: 35px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    margin-bottom: 25px;
}

.footer {
    background-color: #8FB4C9;
}

.footer-new {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.footer-blocks {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-link {
    color: #ffffff;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
}

.burger-menu {
    display: none;
}

.burger-open {
    display: none;
}

.burger-close {
    display: none;
}

.burger-menu.active .burger-open {
    display: none;
}

.burger-menu.active .burger-close {
    display: none;
}

@media (max-width: 768px) {
    .burger-menu {
        display: flex;
        align-items: center;
        cursor: pointer;
        font-size: 2rem;
        transition: .3s;
    }

    .burger-open {
        display: block;
        color: #ffffff;
    }

    .burger-menu.active .burger-close {
        display: block;
        color: #ffffff;
    }

    .header-logo-img {
        width: 35px;
    }

    .nav-list {
        display: none;
    }

    .nav-list.active {
        display: flex;
        flex-direction: column;
        gap: 25px;
        background-color: #8FB4C9;
        position: absolute;
        top: 75px;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 3;
        padding: 25px;
        opacity: 0;
        transform: translateY(-20px);
        transition: .3s;
    }

    .nav-list.active .nav-link {
        font-size: 22px;
        color: #ffffff;
    }

    .nav-list.active.show {
        opacity: 1;
        transform: translateY(0);
    }

    .burger-menu.active {
        transform: rotate(-270deg);
    }

    .burger-menu.active ~ .nav-list {
        display: flex;
    }

    .banner {
        flex-direction: column;
    }

    .banner-img {
        width: 100%;
        height: auto;
        border-radius: 20px 20px 0 0;
    }

    .banner-text-block {
        padding: 25px;
        text-align: center;
    }

    .banner-title {
        width: auto;
        font-size: 25px;
    }

    .benefits-blocks {
        flex-direction: column;
    }

    .benefits-block {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .benefits-img {
        width: 50px;
        height: 50px;
    }

    .benefits-title {
        width: auto;
        font-size: 18px;
    }

    .gallery-title {
        font-size: 25px;
    }

    .prev,
    .next {
        width: 25px;
    }

    .slide img {
        width: 100%;
    }

    .team-blocks {
        grid-template-columns: repeat(1, 1fr);
    }

    .team-block {
        width: 100%;
        flex-direction: column;
        text-align: center;
    }

    .team-img {
        width: 75px;
        height: 75px;
    }

    .team-title {
        font-size: 20px;
    }

    .team-desc {
        width: auto;
        font-size: 16px;
    }

    .footer-blocks {
        flex-direction: column;
        gap: 30px;
    }
}

@media (max-width: 1023px) {
    .banner {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .banner-text-block {
        padding: 25px;
        text-align: center;
    }

    .banner-title {
        width: auto;
        font-size: 30px;
        margin: 15px 0 15px;
    }

    .banner-img {
        width: 100%;
        height: auto;
        border-radius: 20px 20px 0 0;
    }

    .banner-button {
        font-size: 16px;
        padding: 15px 30px;
    }

    .team-blocks {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        margin-top: 30px;
    }

    .team-block {
        width: 100%;
    }

    .team-title {
        font-size: 20px;
    }

    .team-desc {
        width: 100%;
        text-align: center;
    }
}

.form {
    margin-top: 125px;
}

.form-title {
    color: #8FB4C9;
    text-align: center;
    font-size: 35px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    width: 500px;
    display: block;
    margin: auto;
}

.start-form {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
    place-items: center;
}

.start-input {
    border-radius: 12px;
    border: 2px solid #8FB4C9;
    padding: 15px;
    width: 300px;
}

.start-input::placeholder {
    color: #5E5E5E;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
}

.start-button {
    border-radius: 12px;
    background: #8FB4C9;
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    padding: 15px;
    width: 300px;
}

@media (max-width: 767px) {
    .start-input,
    .start-button {
        width: 100%;
    }

    .footer-new {
        position: fixed;
    }
}

@media (max-width: 1023px) {
    .form {
        margin: 50px 0 50px;
    }

    .form-title {
        font-size: 35px;
        width: 300px;
    }

    .start-input,
    .start-button {
        width: 100%;
    }
}